body, table {
  font-family: Verdana;
  font-size: 12px;
}

h1 {
  font-size: 18pt;
  margin-bottom: 3px;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

th {
  text-align: left;
}

tr.odd {
  background-color: #ddf;
}

tr.even {
}

tr.comic.disabled {
  background-color: #aaa !important;
}

tr.comic.errors {
  background-color: #faa;
}

th, td {
  border-left: 1px dotted #000;
  border-right: 1px dotted #000;
  padding: 0px 3px;
}

img.strip {
  display:block;
  padding-bottom: 25px;
  padding-left: 25px;
}

a.inactive {
  color: #aaa !important;
}

.button {
  border-width: 1px;
  border-style: solid;
  border-color: #fff #000 #000 #fff;
}

.button:hover {
  border-color: #000 #fff #fff #000 !important;
}

