body {
  font-family: Verdana;
}

h1 {
  font-size: 18pt;
  margin-bottom: 3px;
}

th {
  text-align: left;
}

tr.odd {
  background-color: #ddf;
}

tr.even {
  background-color: #bbf;
}

tr.comic.disabled {
  background-color: #aaa !important;
}

tr.comic.errors {
  background-color: #faa;
}
