common:
  admin_email: <YOUR_EMAIL_ADDRESS>
  self_email: <SENDER_EMAIL_ADRRESS>
  mail_errors: false
  min_errors_count: 2
  max_errors_count: 10

development:
  mail_errors: false

production:
  mail_errors: true

