<div class="strip">
	<%= image_tag_for_strip strip %>
	<div class="additional">
		<% if strip.title_tag %>
			<strong>Title:</strong> <%= strip.title_tag %><br />
		<% end %>
		<% if strip.alt_tag %>
			<strong>Alt:</strong> <%= strip.alt_tag %>
		<% end %>
	</div>
	<br style="clear: both;" />
</div>
